.Results-Container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;


    padding: 6px;
    margin: 6px;
    background: lightgray;
    height: 400px;
    width: 1200px;
}


.Result-Card{
    background-color: rgb(66, 152, 152);
    margin: 6px;

}